{% extends "base.html" %}

{% block head %}
<style>
    * {
        box-sizing: border-box
    }

    /* Slideshow container */


    /* Hide the images by default */


    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }
</style>
{% endblock head%}

{% block title %} home page {% endblock %}

{% block content %}

<div>
    <div class="slideshow-container w-full h-[50vw] relative">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade  w-full h-full">
            <div class="numbertext">1 / 3</div>
            <img class=" w-full h-full" src="{{url_for('static', filename='./photos/slide1.jpeg')}}">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade  w-full h-full">
            <div class="numbertext">2 / 3</div>
            <img class=" w-full h-full" src="{{url_for('static', filename='./photos/slide2.jpeg')}}"
                style="width:100% ;min-height: 100%;">
            <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade  w-full h-full">
            <div class="numbertext">3 / 3</div>
            <img class=" w-full h-full" src="{{url_for('static', filename='./photos/slide3.jpeg')}}"
                style="width:100%;min-height: 100%;">
            <div class="text">Caption Three</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>



    <div>
        <!-- text -->
    </div>
</div>





<div class="flex flex-row flex-wrap justify-center">
    <div class=" w-1/2 m-3 flex justify-center content-center">

        <h3 class=" text-4xl text-left">Here is the glimpse <br> of our community’s <br> Breathtaking achievements.</h3>


    </div>
    <div class="grid grid-cols-2 m-3">


        <div class="flex flex-col justify-start">

            <p class=" text-2xl font-medium m-1">Millions</p>
            <span class="m-2">of volunteers had joined us.</span>

        </div>

        <div class="flex flex-col justify-start">

            <p class=" text-2xl font-medium m-1">Millions</p>
            <span class="m-2">of volunteers had joined us.</span>

        </div>

        <div class="flex flex-col justify-start">

            <p class=" text-2xl font-medium m-1">Millions</p>
            <span class="m-2">of volunteers had joined us.</span>

        </div>

        <div class="flex flex-col justify-start">

            <p class=" text-2xl font-medium m-1">Millions</p>
            <span class="m-2">of volunteers had joined us.</span>

        </div>



    </div>



</div>



<div class=" bg-gradient-to-b from-orange-300 h-fit p-3 text-center">
    <p class="text-2xl">ways for contributing towards the building of a <b>shreshtha bharat</b>
    </p>
</div>


<div class="flex flex-col items-center">

    <a class="m-8 w-3/4" href="">
        <div class=" bg-red-300 p-5 flex flex-col items-center w-full rounded-xl ">
            <p class="text-xl font-bold pb-3">featured this week</p>
            <div class="flex flex-row flex-wrap">
                <div class=" flex flex-col items-center w-2/3 h-[20vw]">
                    <img class="w-full h-full" src="{{url_for('static', filename='./photos/image.png')}}"
                        alt="abhi and niyu">
                        <p>abhi and
                            niyu</p>
                </div>
                <div class="w-1/3  flex items-center">
                    <p class="text-center">FEATURING India’s best pod-casters, counsellors and many more kind of influencers to contribute
                        towards this selfless service. </p>
                </div>
            </div>
        </div>
    </a>



</div>





<div class="flex flex-col justify-center content-center m-5">
    <div>
        <p class="text-xl text-center font-black">Important links:</p>
    </div>

    <div class="flex flex-row justify-around flex-wrap m-2 p-2">

        <div class=" m-3 p-1 flex flex-col justify-center items-center">
            <img class="w-28" src="{{url_for('static', filename='./photos/logo.jpeg')}}" alt="">
            <a class=" text-center" href=""> haryanastate narcotics control bureau</a>
        </div>


        <div class=" m-3 p-1 flex flex-col justify-center items-center">
            <img class="w-28" src="{{url_for('static', filename='./photos/logo.jpeg')}}" alt="">
            <a class=" text-center" href=""> haryanastate narcotics control bureau</a>
        </div>

        <div class=" m-3 p-1 flex flex-col justify-center items-center">
            <img class="w-28" src="{{url_for('static', filename='./photos/logo.jpeg')}}" alt="">
            <a class=" text-center" href=""> haryanastate narcotics control bureau</a>
        </div>
    </div>


</div>


<script>let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }</script>



{% endblock content %}